 body{
     background-color:#8B0000;
 }

h1{
    background-color: brown;
    border-radius: 6px;
    color: #fff;
    margin: auto;
}

ul li{
    
    list-style-type: none;
    text-align: center;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    
}

img{
    margin-top: 50px;
}

.nav{
    background-color: #696969 ;
}
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
